@font-face {
  font-family: 'Copperplate';
  src: url('Copperplate.woff') format('woff');}
@font-face {
  font-family: 'Ponter';
  src: url('PonterALT.woff') format('woff');}
  @font-face {
  font-family: 'FatGrot';
  src: url('FatGrot.woff') format('woff');}



* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Copperplate", Roboto, sans-serif;}
html, body {
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  color: #fff;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 100vh;
  opacity: .25;
  filter: invert(100%);
  transition: background-position 2s ease;
  z-index: -2;}
body::after {
  content: "";
  position:fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}


.tt {
  font-weight: 900;
  font-size: min(16vmin, 7rem);
  font-family: "Ponter", Roboto, sans-serif;
  transform: scaleX(1.25);
}

.sw {
  width: 100%;
  max-width: 55rem;
  padding: min(3vmin, 2rem);
  display: flex;
  justify-content: center;
}

.pisapopa {
  width: 95%;
  text-align: center;
  border-radius: min(6vmin, 3rem);
  padding: min(5vmin, 2rem);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 5vmin #131313;
  border: min(.5vmin, 2px) outset rgba(200, 99, 50, 0.64);
}

.lala {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2vmin;
  margin-top: min(4vmin, 2rem);}
.l {
  width: 95%;
  padding: min(2vmin, 1rem) 0;
  border-radius: min(4vmin, 1rem);
  font-size: min(6vmin, 2rem);
  text-decoration: none;
  color: #fff;
}



::-webkit-scrollbar { width: 0; height: 0; }
html { scrollbar-width: none; }
body { -ms-overflow-style: none; }
button, div { -webkit-tap-highlight-color: transparent; background-color: none; }
